.main {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select {
    background-color: var(--primary);
    border: solid 1px var(--primary);
    padding: 8px;
    color: var(--contrast);
    font-weight: var(--fw-b);
}


@media only screen and (min-width: 1600px) {
    .main {
        flex-direction: column-reverse;
        width: 90%;
    }
}