.hero {
    display: flex;
    flex-direction: column;
    margin: var(--spacer);
    margin-bottom: var(--spacer-lg);
}

.title {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacer-lg);
    margin: var(--spacer);
}

.content {
    display: flex;
    margin: var(--spacer);
    flex-direction: column;
}

.small {
    font-size: var(--fs-s);
    font-style: italic;
}

.large {
    font-size: var(--fs-s);
    font-weight: var(--fw-b);
    font-style: italic;
}

@media only screen and (min-width: 1600px) {
    .content, .hero {
        margin: var(--spacer-md);
    }
}